{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Paper Earth!</title>
    <meta name="description" content="Django Web App for creating and voting on polls">
    <title>Django Polls Web App</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'maps/style.css' %}" />
  </head>
  <body>
    <div class="Content">    
      <div id="MainBanner">
        <div id="mainbannerleft">
          <a href="/"><img style="float:left;" size="75%" src="{% static 'images/homeicon2.png' %}"></a>
          <h1>Paper Earth! Projects</h1>
        </div>
        <div id="mainbannerright">
          <ul id="mainnavlinks">
            <li><a href="/" alt="Home">home</a></li>            
            <li><a href="/#Projects" alt="Projects">projects</a></li>
            <li style="border-width:0;"><a href="/#About" alt="About Me">about</a></li>

          </ul>
        </div>
      </div>
      <main role="main">
        <div class="BlockContent">
          <div id="map"></div>
          <div id="AddressBar">
            <label><input type="text" id="autoaddress" name="address" placeholder="Search Maps"></label>
          </div>
          <div id="MapControls">
            <div id="DateTime">
              <div id="Date">
                <label><input type="date" name="date" id="datefield"></label>
              </div>
              <div id="Time">
                <label><input type="range" name="Hours" min="0" max="24" step="1" value="0">
                </label>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer role="contentinfo">
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.js"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPEppO0U-4BDO3BBXlXtA9h8Uk0kJL6_s&libraries=places&callback=initMap" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'maps/script.js' %}" ></script>
  </body>
</html>