{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Paper Earth!</title>
    <meta name="description" content="Django Web App for creating and voting on polls">
    <title>Django Polls Web App</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'maps/style.css' %}" />
  </head>
  <body>
    <div class="Content">    
      <div id="MainBanner">
        <div id="mainbannerleft">
          <a href="/"><img style="float:left;" size="75%" src="{% static 'images/homeicon2.png' %}"></a>
          <h1>Paper Earth! Projects</h1>
        </div>
        <div id="mainbannerright">
          <ul id="mainnavlinks">
            <li><a href="/" alt="Home">home</a></li>            
            <li><a href="/#Projects" alt="Projects">projects</a></li>
            <li style="border-width:0;"><a href="/#About" alt="About Me">about</a></li>
          </ul>
        </div>
      </div>
      <main role="main">
        <div class="BlockContent">
          <div id="MapContainer">
            <div id="map"></div>
            <div id="AddressBar">
              <label><input type="text" id="autoaddress" name="address" placeholder="Search Maps"></label>
            </div>
            <div id="AddSign">
              <label><img id="AddSignIconButton" onclick="toggleAddSign();" class="toggleaddsign" alt="Add Sign" src="{% static 'images/addsign.png' %}"></label>
            </div>
            <div id="MapControls">
              <div id="DateTime">
                <div id="Date">
                  <label><input type="date" name="date" id="datefield"></label>
                </div>
                <div id="Time">
                  <label><input type="range" id="timeslider" name="Hours" min="0" max="24" step="1" value="0">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="AddSignContainer">
          <div id="AddNewSign">
          <h3>New Sign</h3>
            <form action="" id="NewSignForm" method="post">
            <div id="SignDateTime">
              <label>Su<input name="week" id="su_b" type="checkbox"></label>
              <label>Mo<input name="week" id="mo_b" type="checkbox"></label>
              <label>Tu<input name="week" id="tu_b" type="checkbox"></label>
              <label>We<input name="week" id="we_b" type="checkbox"></label>
              <label>Th<input name="week" id="th_b" type="checkbox"></label>
              <label>Fr<input name="week" id="fr_b" type="checkbox"></label>
              <label>Sa<input name="week" id="sa_b" type="checkbox"></label>
              <br>
              <label>Time Start<input name="timestart" type="text"></label>
              <label>Time End<input name="timeend" type="text"></label>
              <br>
              <br><label>Time Limit</label><input name="timelimit" type="text">
              <br><label>Metered<input name="metered" id="metered_b" type="checkbox"></label>
              <br><label>Holiday Exclude<input id="holiday_b" type="checkbox"></label>
              <br><label>Permit Exempt<input name="permit" id="permit_b" type="checkbox"></label> 
              <label>Permit Name</label><input name="permitname" type="text">
              <br><label>Commercial Only<input name="commericial" id="commercial_b" type="checkbox"></label> 
              <br>
            </div>
            <div id="NewSignButtons">
              <input class="newsignbutton" type="button" value="Cancel" onclick="toggleAddSign()">
              <input class="newsignbutton" type="submit" value="Submit New Sign">
            </div>              
            </form>
          </div>
        </div>
      </main>
      <footer role="contentinfo">
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.js"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPEppO0U-4BDO3BBXlXtA9h8Uk0kJL6_s&libraries=places&callback=initMap" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'maps/script.js' %}" ></script>
  </body>
</html>