body {
    background: white;
}

.highlight {
	background: yellow;
}

.polls {
	background: #369;
	color: white;
  width: 250px;
}

.polls h2 {
  padding: 10px;
  padding-top: 3px;
}

.polls a {
  color: white;
}

.polls li {
  padding-bottom: 10px;
}