container_commands:
  01_setenv:
    Command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env"
  02_migrate:
    Command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django/mysite/manage.py migrate --noinput"
    leader_only: true

settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django/mysite/mysite/wsgi.py

option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-west-2:084761625872:certificate/cb6900dc-e207-4272-a866-2eade0dddc00
    ListenerProtocol: HTTPS
    InstancePort: 80