
container_commands:
  01_migrate:
    Command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django/mysite/manage.py migrate --noinput"
    leader_only: true
  02_setenv:
  	Command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env"

settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django/mysite/mysite/wsgi.py
