
container_commands:
  01_collectstatic:
    Command:"source /opt/python/run/venv/bin/activate && python django/mysite/manage.py collectstatic --noinput"
  02_migrate:
    Command:"source /opt/python/run/venv/bin/activate && python django/mysite/manage.py migrate --noinput"
  leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django/mysite/mysite/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings
