{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Paper Earth!</title>
    <meta name="description" content="Django Web App for creating and voting on polls">
    <title>Django Polls Web App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />
  </head>
  <body>
    <div class="Content">    
      <div class="MainBanner">
        <div id="mainbannerleft">
          <a href="/"><img style="float:left;" size="75%" src="{% static 'images/homeicon2.png' %}"></a>
          <h1>Paper Earth! Projects</h1>
        </div>
        <div id="mainbannerright">
          <ul id="mainnavlinks">
            <li><a href="/" alt="Home">home</a></li>
            <li><a href="/#About" alt="About Me">about</a></li>
            <li><a href="/#Projects" alt="Projects">projects</a></li>
          </ul>
        </div>
      </div>
      <main role="main">
        <div class="BlockContent">
          <h2><a href="{% url 'polls:index' %}"> Polls</a></h2>
          {% block content %}
          {% endblock content %}
        </div>
      </main>
      <footer role="contentinfo">
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'polls/script.js' %}"></script>
  </body>
</html>