{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="PollsBanner">
  <div id="PollsContent" class="PollsContent">
      <h3>{{ question.question_text }}</h3>
      <div id="PollsDetails">
        <div id="ErrorBox">
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        </div>
        <form action="{% url 'polls:vote' question.id %}" method="post">
          {% csrf_token %}
          {% for choice in question.choice_set.all %}
          <label for="choice{{ forloop.counter }}">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
          {{ choice.choice_text }}</label>
          {% endfor %}
          <label>
            <input type="radio" name="choice" id="newchoice" value="new"/>
            <input type="text" name="newchoicetext" id="newchoicetext" placeholder="New Choice..." />
          </label>
          <div id="PollDetailsLinks">
            <input type="submit" value="Vote"/>
            <br>
            <p style="margin:0;">or</p>
            <a href="{% url 'polls:results' question.id %}">View Results</a>
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="{% static 'polls/details_script.js' %}"></script>
{% endblock content %}