
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <div id="PollsBanner">
    <div class="PollsContent" id="PollsContent">
      <h3>Create New Poll</h3>
      <div id="NewPollsContent">
        
        {% if question_error_message %}
          <div id="ErrorBox">
            <p> <strong>{{ question_error_message }}</strong></p>
          </div>
        {% endif %}
        
         {% if choice_error_message %}
          <div id="ErrorBox">
            <p> <strong>{{ choice_error_message }}</strong></p>
          </div>
        {% endif %}
          
        <form action="{% url 'polls:submitnew' %}" method="post">
          {% csrf_token %}
          <label>Question/Poll Text:
            <input placeholder="Question" name="NewPoll" id="NewPoll" taype="text">
          </label>
          <div id="NewChoices">
            <label>Choice 1<input name="Choices" id="Choice1" type="text"></label>
            <label>Choice 2<input name="Choices" id="Choice2" type="text"></label>
          </div>
          <div id="AddNewChoice">
            <label>
              <a href="#">
                  <img src="{% static 'images/add.png' %}">Add Choice
              </a>
            </label>          
          </div>
          <div style="text-align:center;padding-top:0.5em;">
            <input id="PollSubmit" type="submit" value="Submit Question" />
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="{% static 'polls/newpolls_script.js' %}"></script>
{% endblock content %}