html, body {
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  height: 100%;
}

div {
  display: block;
}

a {
  font-weight: 700;
}

.h1 .h2 .h3 .h4 .h5 .h6 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 1em;
}

.Content {
  display: block;
  margin: 0 auto;
  width: 95%;
  border: solid green;
  border-width: 0 0.2em 0 0.2em;
  background: gold;
}

.ProjectContent {
  height: 100%;
  display: block;
  margin: 0 auto;
  width: 95%;
  border: solid green;
  border-width: 0 0.2em 0 0.2em;
  background: gold;
}

.BlockContent {
  display: block;
  text-align: center;
}

.BlockContent h2 {
  color: white;
}

#latestPolls {
  width: 40%;
  margin: 0 auto;
}

#PollsContent {
  text-align: left;
}

#PollsContent h3 {
  text-align: center;
  font-size: x-large;
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
}

#PollsContent ol {
  list-style-position: inside;
  text-align: left;
}

#PollsDetails {
  width: 40%;
  margin: 0 auto;
}

#PollsDetails form {
  width: 50%;
  margin: 0 auto;
}

.MainBanner {
  height: 50px;
  width: 100%;
  background: forestgreen;
  display: block;
}

#mainbannerleft {
  float: left;
  width: 100%;
  padding: 0.3em;
  margin: 0;
}

#mainbannerleft p {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 0.2em;
}


#mainbannerright {
  padding-top: 5px;
  float: right;
  width: 15em; 
  margin: 0em 1em 0em -17em;
}

.AboutBanner {
  text-align: center;
  height: 800px;
  border-bottom: 1px solid green;
}

.About {
  width: 100%;
  height: 80%;
}

.Connect {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.Connect h3 {
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
}

.connect-social-media {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.connect-social-media li {
  list-style: none;
  display: inline-block;
  margin: 0 2.5em;
}



.ProjectBanner {
  height: 500px;
  text-align: center;
  border-bottom: 1px solid green;
}

.Projects {
	padding: 1em;
	width: 9em;
	height: 9em;
	border: solid gold;
	border-width: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.Projects img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.Projects p {
	margin-top: 0.25em;
	text-align: center;
}

#mainnavlinks li{
  list-style: none;
  display: inline-block;
  margin-left: 0;
  border-right: 1px solid darkgreen;
  font-style: italic;
  padding: 0em 0.7em;
}

.mailformcontainer {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.7);
  background-blend-mode: lighten;

}

.mailform {
  padding: 1em;
  width: 600px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background: white;
}

.mailform input {
  margin-bottom: 1em;
  margin-top: 0;
  width: auto;
}

.mailform label {
  margin-right: 1em;
  width: 100px;
}

#mailtextarea {
  width: 500px;
  height: 70px;
  border: 1px solid black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}


