#map {
  height: 94vh;
  z-index: 1;
}



#AddressBar {
  text-align: left;
  padding: 2em 0 0 2em;

}

#AddressBar label {
  font-weight: 700;
}

#AddSign {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  
}

#AddressBar input {
  font-weight: 700;
  line-height: 3em;
  width: 25vw;
  margin: 0.5em 0;
  border: none;
  box-shadow: 0 2px 2px rgba(100, 100, 100, 0.5);
  padding-left: 1em;
}

*:focus {
  outline: none;
}

#DateTimeBar {
  background-color: rgba(100,100,100,0);
  padding: 0.5em 1em;
  margin-bottom: 7vh;
  text-align: left;
  font-size: large;
  width: 100%;
  height: 7vh;
}

#DateTimeBar label {
  font-weight: 700;
}

#DateTimeBar input {
  line-height: 1.5em;
}

#DateBar {
  width: 15vw;
}

#DateBar input {
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

#TimeSliderBar {
  background: white;

}

#TimeSliderBar input {
  padding: 0.5em;
  width: 97vw;
}

#AddSignContainer {
  display: none;
  position: relative;
  top: 100%;
  width: 100%;
  z-index: 100;
  background: inherit;
}

#AddSignIconButton {
  cursor: pointer;
}

#AddNewSign {
  width: 100%;
  text-align: center;
}


#NewSignBanner {
  display: flex;
  margin: 0 auto;
}

#NewSignMap {
  float: left;
  width: 49vw;
}

#NewSignDateTime {
  float: right;
  width: 49vw;
  text-align: center;
  margin: 0 auto;
}

#TimeSlots {
  margin: 0 auto;
  overflow: auto;
}


.timeslot h4 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

#TimeSlot input{
  width: 10em;
}

#TimesStartEnd {
  float: left;
}

#WeekDays {
  float: right;
  width: 175px;
  text-align: right;
  padding-right: 2em;
}

#WeekDays input{
  width: 3em;
  margin: 0 auto;
}

#AdditionalTimeSlot {
  text-align: left;
}

.timeslot {
  overflow: auto;
  padding: 1em 3em;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

.ts_hidden {
  padding-top: 1em;
  cursor: pointer;
  display: none;
}

#AdditionalsBanner {
  margin: 0 auto;
  padding-right: 3em;
}

#AdditionalsBanner label{
  padding: 0.5em 0;
}

#AdditionalsBanner input{
  padding: 0.5em;
  margin-top: 0.3em;
  margin-left: 1em;
}

#SignOptions {
  padding-right: 3em;
  text-align: right;
  margin: 0 auto;
}

#SignOptions select{
  padding: 0.5em;
  width: 15em;
  margin-left: 1em;
}

#NewSignAddressBar {
  width: 100%;
  padding-top: 1em;
  margin: 0 auto;
}

#NewSignAddressBar input{
  padding: 0.5em;
  width: 80%;
  text-align: center;
}

#NewSignButtons {
  width: 100vw;
}

#NewSignMapBox {
  width: 40vw;
  height: 40vh;
  margin: 0 auto;
}


.newsignbutton {
  width: 40vw;
  line-height: 3em;
  background: lightgray;
  border: none;
  font-size: 24px;
}

.gmnoprint {
  display: none;
}

::-webkit-inner-spin-button { 
  display: none; 
}

::-webkit-calendar-picker-indicator { 
  display: none; 
}

::-webkit-datetime-edit-text { 
  font-family: Arial;
  font-size: 24px;
  padding: 0 0.3em; 
}