<!DOCTYPE html>
<html>
  <head>
    <title>Paper Earth!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />
    {% load static %}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div style="height:50px;">
    </div>
    <div id="map" style="height:100%;">
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPEppO0U-4BDO3BBXlXtA9h8Uk0kJL6_s&callback=initMap" async defer></script>
    <script src="{% static 'mysite/scripts.js' %}"></script>
  </body>
</html>